<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <!-- using ejs syntax -->
    <!-- <%=  %> gives an output on the page  -->
    <!-- <%  %> embedds the JS logic with no output shown. Must tag each line used  -->
    <!-- When Looping, logic in tag above <%, but output in first tag <%= -->
    <h1>The Home Page <%= 1 + 9 %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi qui debitis ad a quis aut molestias deleniti,
        fuga quas doloremque quidem. Laboriosam, tempore! Recusandae fuga minima praesentium placeat, quisquam cum.
        Cupiditate eius maxime commodi autem dolores consequuntur harum molestias alias numquam vel sapiente aspernatur
        excepturi temporibus nisi magnam veniam, atque iure! Asperiores cum alias in quis hic beatae laborum iure!
        Ab atque labore magni quis. Est quasi provident saepe quo corporis nobis doloribus repellendus veniam repellat
        facere magnam esse excepturi pariatur quis, aliquid quas quisquam eveniet deserunt, reiciendis fuga possimus.
    </p>
</body>

</html>