body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    width: 90%;
    height: 500px;
    background-color: #003049;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}

#container div {
    /* width: 200px; */
    height: 200px;
    /* Flex Basis */
    /* default size based on main axis direction. */
    flex-basis: 200px;
}

/* div:nth-of-type(1) {
    flex-grow: 1;
} */

main {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    border: 2px solid white;
    flex: 1 300px;
}

main .maincontent {
    background-color: #30f1e1;
    flex: 1 600px;
}