<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>Home Page <%= 'hello, cruel world' .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos recusandae excepturi sequi dolor.
                Obcaecati
                doloremque expedita, in error adipisci at excepturi omnis veritatis quasi, aut veniam quisquam id, ullam
                nisi.
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae pariatur, exercitationem ut enim
                explicabo
                blanditiis autem mollitia molestiae aspernatur odit modi quam fugiat harum voluptatem ullam? Expedita
                rem
                fugit
                cumque?
            </p>

    </body>

    </html>