<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <h1>Random Number via EJS</h1>
            <h1>Random Number is: <%= rand %>
            </h1>
    </body>

    </html>