<% layout('layouts/boilerplate')%>
    <h1>Create New Campground</h1>
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">Title:</label>
            <!--! Allows Grouping all under campground as a property: -->
            <!--? --ex: name = "campground[title]"  -->
            <input type="text" placeholder="Title" id="title" name="campground[title]">
        </div>

        <div>
            <label for="location">Location:</label>
            <input type="text" placeholder="Location" id="location" name="campground[location]">
        </div>

        <button>Submit</button>
    </form>
    <div>
        <a href="/campgrounds">All Campgrounds</a>
    </div>