<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>

<body>
    <h1>
        <%= username %>
    </h1>
    <p>
        <%= comment %>
    </p>

    <a href="/comments">Home</a>
    <a href="/comments/<%= id %>/edit "> Edit Comment</a>
    <form action="/comments/<%= id %>?_method=DELETE " method="post">
        <button>Delete</button>
    </form>
</body>

</html>