/* Box Model */
/* Setting Width Manually */
/* Setting Height Manually */
/* Setting background color for clear visibility in demo */
div {
    width: 200px;
    height: 200px;
    background-color: rgb(0,100,190);
}

#div1 {
    background-color: salmon;
    /* Adds 5px to all sides of the box. */
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* Resizes border to conform with original box dimensions. */
    /* Keeps the box 200px by 200px with the Border */
    box-sizing: border-box;
}

#div2 {
    background-color: seagreen;
    border-color: #f00a0a;
    border-width: 3px;
    border-style: dashed;
    /* Sets a variant for a portion of the border. */
    border-right-style: inset;
}

#div3 {
    background-color: silver;
    /* Shorthand syntax for the border */
    /* width|style|color  */
    /* Can leave empty the args not needed but maintain the order. */
    border: 4px solid black;
    /* use cascading to set specific property */
    border-left-style: dashed;
}