h1 {
  color: indianred;
}

section {
  background-color: #219ebc;
  width: 500px;
  height: 500px;
}

div {
  background-color: #fec5bb;
  /* position: static; */
  display: inline-block;
  height: 40%;
  width: 40%;
}

#second {
  position: relative;
  top: 10px;
}
#circle {
  height: 300px;
  width: 300px;
  background-color: darkred;
  transition: 1s;
}

#circle:hover {
  border-radius: 50%;
  background-color: cyan;
}

#background {
  height: 800px;
  width: 80%;
  background-image: url('https://images.unsplash.com/photo-1636312058374-ac0ffdb40d37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1480&q=80');
  background-size: cover;
  margin: 0 auto;
}
